---
layout: home4
title: home 🪐
hide_nav: true
---

<div class="home-container">
    <img class="guesst-text-logo" src="{{ site.baseurl }}/assets/images/guesst-text-logo.svg" alt="">
    <div class="homeImage">
        <a href="/listen">
            <img src="{{ site.baseurl }}/assets/images/guesst-main-page.jpg" alt="image of guessts face">
        </a>
    </div>

    <div class="homeNav">
        <ul>
            {% for nav in site.data.nav %}
                {% if nav.name != "home" %}
                    <li>
                        <a href="{{ nav.link }}" 
                           {% if nav.name == "blog" %}target="_blank" rel="noopener noreferrer"{% endif %}>
                            {{ nav.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% include substack-subscribe.html %}

    {% include service-logos.html %}
</div>