---
layout: home2
title: home 🪐
hide_nav: true
---

<!-- /assets/images/guesst-main-page.jpg -->

<div class="homeImage">
    <a href="/listen">
        <img src="{{ site.baseurl }}/assets/images/guesst-main-page.jpg" alt="image of guessts face">
    </a>
</div>

<center>
    <div class="homeNav">
        <ul>
            <li><a href="/listen">listen</a></li>
            <li><a href="/presskit">presskit</a></li>
            <li><a href="/shows.html">shows</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href='m&#97;&#105;lt&#111;&#58;h&#101;llo&#64;&#103;u&#37;&#54;5sst&#46;&#37;6&#69;&#37;&#54;5t'>contact</a></li>
            <!-- <li><a href="http://eepurl.com/huQD5X">email / text list</a></li> -->
        </ul>
    </div>
</center>


<!-- <h2><center>trans/agender multigenre multimedia artist.</center></h2> -->

<!-- listen to my newest release:

{% assign sorted_releases = site.categories.listen | sort: 'date' | reverse %}

<div class="recent-releases-grid">
    {% assign counter = 0 %}
    {% for release in sorted_releases %}
        {% if counter < 3 %}
            <div class="release-item">
                <a href="{{ release.url }}">
                    {% if release.coverPath %}
                        <img src="{{ release.coverPath }}" alt="{{ release.title }}" width="100%">
                    {% endif %}
                </a>
            </div>
            {% assign counter = counter | plus: 1 %}
        {% endif %}
    {% endfor %}
</div> -->


<!-- <p>no socials, just music.</p> -->
<!-- <br>
<p>listen:</p>
<p><a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/guesstaccount">soundcloud</a></p>
<p></p><a target="_blank" rel="noopener noreferrer" href="spotify:artist:6JN0LuZjEtRULBROXulK81">spotify</a></p>
<p><a target="_blank" rel="noopener noreferrer" href="https://guesstaccount.bandcamp.com/">bandcamp</a></p>
<p><a target="_blank" rel="noopener noreferrer" href="https://audius.co/guesst">audius</a></p>
<br>
<p>follow:</p>
<p><a href="logs-index.html">logs</a></p>
<p><a href="https://playful-elf-104234.netlify.app/biproduct/biproductindex">biproducts (deprecated)</a></p>
<br>
<p>contact:</p>
<p><a href="mailto:guesstmusic@gmail.com">guesstmusic@gmail.com</a></p>
<p><a target="_blank" rel="noopener noreferrer" href="http://eepurl.com/huQD5X">join email and text list</a></p> -->