* {
    box-sizing: border-box;
}

.top-bar {
    width: 100%;
}

.white-logo-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 100%;
}

.guesstlogo img {
    height: 80px;
}

.guesstlogo, .guesstLogoText {
    filter: invert(100%) saturate(0) brightness(0);
}

/* .top-bar {
    display: flex;
    flex-direction: row;
} */

/* .guesst-text-logo, .logo {
    filter: invert(100%) saturate(0) brightness(0);
} */

/* .guesst-text-logo, .logo img {
    height: 100%;
    width: auto;
} */

/* .logo-container, .text-logo-container {
display: flex;
} */

/* .logo {
    
} */

/* .text-logo-container {
    justify-content: flex-end;
} */

.mainSectionHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bit-mail-signup {
    width: 100%;
}

.bitmail {
    width: 100%;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSectionHome > div {
    flex: 1;
    display: flex;
}

.bit-mail-signup {
    justify-content: flex-end;
}

.nav {
    justify-content: flex-start;
}

.hero-image {
    justify-content: center;
}

.nav p {
    margin: 0px;
    margin-left: 10px;
}

.hero-image img {
    width: 100%;
}

.mainSection {
    max-width: 60%;
    margin: auto;
}

.mainSection img {
    width: 100%;
}

/* .mainSectionHome {
    
} */
  
body {
    background-color: #ffffff;
    color: rgb(0, 0, 0) !important;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

a {
    color: #00DFFF;
}

@media (max-width: 768px) {
    .white-logo-bar {
        padding: 10px;
    }

    .guesstlogo img {
        height: 50px;
    }

    .exclude-icon {
        height: 35px;
        width: 35px !important;
    }

    .mainSection {
        max-width: 92%;
        margin: auto;
    }
}

@media (max-width: 400px) {
    .nav {
        /* position: fixed;
        right: 0%; */
        /* top: 0; */
        /* transform: none; */
        display: block;
    }

    .exclude-icon {
        height: 20px;
        width: 20px !important;
    }
}

/* Adjust service logos size */

.contactDiv {
    display: flex;
    flex-direction: row-reverse;
    max-height: 100px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
    padding-top: 20px;
}

/* .service-logos {
    position: relative;
} */

.exclude-icon {
    filter: invert(100%) saturate(0) brightness(0);
    max-height: 50px;
    width: 50px;
    flex: 1;
    /* margin-right: 20px; */
}



.talking {
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Sans-Serif', sans-serif;
}

.talking iframe {
    margin: 10px auto;
}

.clout-table img {
    min-width: 20px;
    max-width: 40px;
    width: 100%;
}

.clout-table {
    filter: invert(100%) saturate(0) brightness(0);
}