<div class="contactDiv">
    <br>
    <a href='mai&#108;to&#58;he&#37;6Clo&#64;g&#117;es&#37;73%74&#46;net' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/email-icon5.svg" alt="Email Icon" />
    </a>
    <a href='https://guesst.substack.com/' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" id="substack-icon" src="{{ site.baseurl }}/assets/images/substack-icon.svg" alt="subscribe Icon" />
    </a>
    <!-- <a href='https://signal.group/#CjQKIEs-2V22SYKir089XkfEHZznNpXyge8nvAyxIWIckSYHEhBc9Ft8Mej4D0SOH7_8y93q' target="_blank" rel="noopener noreferrer">
        <img id="Signal_Icon" class="exclude-icon" src="{{ site.baseurl }}/assets/images/Signal-Logo-White.svg" alt="Signal Icon" />
    </a> -->
    <a href='https://bnds.us/8t2u5a' target="_blank" rel="noopener noreferrer">
        <img id="bandsintown_icon" class="exclude-icon" src="{{ site.baseurl }}/assets/images/bit-icon.svg" alt="BandsInTown Icon" />
    </a>
    <a href='https://discord.gg/BM9xuRKCD5' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/discord.svg" alt="Discord Icon" />
    </a>
    <a href='spotify:artist:6JN0LuZjEtRULBROXulK81' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/spotify.svg" alt="Spotify Icon" />
    </a>
    <a href='https://soundcloud.com/guesstaccount' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/soundcloud.svg" alt="SoundCloud Icon" />
    </a>
    <a href='https://instagram.com/guesstaccount' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/instagram.svg" alt="Instagram Icon" />
    </a>
    <a href='https://guesstaccount.bandcamp.com' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/bandcamp.svg" alt="Bandcamp Icon" />
    </a>
    <!-- <a href='https://music.apple.com/us/artist/guesst/1550552183' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/apple.svg" alt="Apple Icon" />
    </a> -->
    <a href='https://youtube.com/guesstaccount' target="_blank" rel="noopener noreferrer">
        <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/youtube-logo.svg" alt="Youtube Icon" />
    </a>
    <br>
</div>