<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }} - {{ page.title }}</title>
        <link rel="icon" type="image/svg" href="../assets/images/guesst-logo-2024" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Share+Tech+Mono&display=swap" rel="stylesheet" crossorigin="anonymous">
        <script src="/assets/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="/style.css?v={{ site.time | date: '%s' }}">
    </head>
    <body>
        <section class="mainSection">
            {% include nav.html %}  
            {{ content }}
            <div class="contactDiv">
                <br>
                <a href='http://eepurl.com/huQD5X' target="_blank" rel="noopener noreferrer">
                    <img class="exclude-icon" id="bell-icon" src="{{ site.baseurl }}/assets/images/bell-icon.svg" alt="subscribe Icon" />
                </a>
                <!-- <a href="https://guesst.net"><center>{% include logo.html %}</center></a> -->
                <a href='mai&#108;to&#58;he&#37;6Clo&#64;g&#117;es&#37;73%74&#46;net' target="_blank" rel="noopener noreferrer">
                    <img class="exclude-icon" src="{{ site.baseurl }}/assets/images/email-icon-attempt.svg" alt="Email Icon" />
                </a>
                <br>
            </div>
        </section>
    </body>
</html>