<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/svg" href="../assets/images/guesst-logo-2024" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Share+Tech+Mono&display=swap" rel="stylesheet" crossorigin="anonymous">
        <script src="/assets/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <section class="mainSection">
            {% include nav.html %}  
            {{ content }}
            <center>{% include logo.html %}</center>
        </section>
    </body>
</html>