<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/svg" href="../assets/images/guesst-logo-2024" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Share+Tech+Mono&display=swap" rel="stylesheet" crossorigin="anonymous">
        <script src="/assets/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    </head>
    <body>
        <section class="mainSection">
            {% include nav.html %}  
            <center>
            {% include logo.html %}
            <div class="listenUlSmacker">
            <h1 style="margin: 20px 0%;">{{ page.songTitle }}</h1>
                <h3 style="font-size: xx-large;color: grey; margin: 20px 0px;">{{ page.artist }}</h3>
                <p>![[{{ page.coverPath }}]]</p>
                <h3>listen on:</h3>
                <ul>
                    <li><a href="{{ page.download }}" download>free download</a></li>
                    <li><a href="{{ page.soundcloud }}" target="_blank" rel="noopener noreferrer">soundcloud</a></li>
                    <li><a href="{{ page.bandcamp }}" target="_blank" rel="noopener noreferrer">bandcamp</a></li>
                    <li><a href="{{ page.youtube }}" target="_blank" rel="noopener noreferrer">youtube</a></li>
                    <li><a href="{{ page.spotify }}" target="_blank" rel="noopener noreferrer">spotify</a></li>
                    <li><a href="{{ page.apple }}" target="_blank" rel="noopener noreferrer">apple</a></li>
                </ul>
                <h3>talk to me</h3>
                <ul>
                    <li><a target="_blank" rel="noopener noreferrer" href="http://eepurl.com/huQD5X">get notified of future releases</a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="mailto:hello@guesst.net">hello@guesst.net</a></li>
                </ul>
                <h3>pls read!!</h3>
                <div class="listenText">
                    <p>all my songs are free to download, but if you want to support me you can do so with the payment links on <a href="{{ site.origin }}/listen.html">listen.html</a>, or by buying my records on bandcamp.</p>
                    <p>if you do not plan to purchase the songs, i would really appreciate it if you would get on my <a href="http://eepurl.com/huQD5X"target="_blank" rel="noopener noreferrer">mailing list</a> and/or follow me on <a href="spotifyspotify:artist:6JN0LuZjEtRULBROXulK81" target="_blank" rel="noopener noreferrer">spotify</a>, <a href="https://soundcloud.com/guesstaccount" target="_blank" rel="noopener noreferrer">soundcloud</a>, and <a href="https://guesstaccount.bandcamp.com" target="_blank" rel="noopener noreferrer">bandcamp</a> so that i can reach a greater audience with future releases. :)</p>
                </div>
                </center>
                {{ content }}
            </div>
        </section>
    </body>
</html>